.pokeApi__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
}

.pokeApi__list_el {
  background-color: rgb(89, 89, 89);
  color: white;
  width: 20%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.pokeApi__list_el_btn {
  font-size: 1.2rem;
  border: 1px solid white;
  padding: 5px 20px;
}

.pokeApi__list_el_btns_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(29, 29, 29);
  padding: 20px;
}
